:root {
  color-scheme: light !important;
}

body {
  position: relative;
  font-family: var(--font-marvel), sans-serif;
  margin: 0;
  padding: 0;
  background: none;
  z-index: 1;
}

/* custom font */
@font-face {
  font-family: "Marvel";
  src: url("/fonts/Marvel-Regular.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

/* background video */
#bgVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}

/* base table styling */
table,
th,
td {
  font-size: 0.75rem !important;
  line-height: 1;
  border-collapse: collapse;
}
th,
td {
  padding: 10px 15px;
}

/* buttons and form inputs use Marvel font */
button,
input,
textarea {
  font-family: var(--font-marvel) !important;
}
input,
textarea {
  background-color: black !important;
  color: #fff !important;
}

/* prevent page‐wide horizontal scrolling */
html,
body {
  overflow-x: hidden;
}

/* wrapper around each table to enable horizontal scroll if needed */
.table-responsive {
  display: block;       /* Allow overflow */
  width: 100%;
  overflow-x: visible;  
  overflow-y: auto;   /* Only this scrolls horizontally */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
}
.table-responsive table {
  width: 100%;   /* Size to content */
  border-collapse: collapse;
  margin: 0 auto;       /* Center the table */
}
.table-responsive th,
.table-responsive td {
  white-space: nowrap;       /* prevent wrapping inside cells */
}

/* mobile adjustments */
@media (max-width: 600px) {
  body {
    padding: 0 10px;
    font-size: 0.9rem;
  }
  footer {
    position: relative !important;
    padding: 10px !important;
    font-size: 0.75rem !important;
  }

  .multiplayer-wrapper {
    display: flex !important;
    flex-direction: column !important;
    padding: 10px !important;
  }

  .table-responsive {
    display: block;       /* Allow overflow */
    width: 100%;
    overflow-x: visible;     /* Only this scrolls horizontally */
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling for mobile */
  }
  .table-responsive table {
    width: 100%;   /* Size to content */
    border-collapse: collapse;
    margin: 0 auto;       /* Center the table */
  }
}